<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
  <head>
    <title>Transportation Analyses: Automobile Fatality Rates (# of fatalities/# of accidents)</title>
    <link type="text/css" rel="stylesheet" href="elegant-aero.css" />
      <style>
          input::-webkit-calendar-picker-indicator {
              display: none;/* remove default arrow */
          }
          .myarrow:after {
              content: url(https://i.stack.imgur.com/i9WFO.png);
              margin-left: -20px;
              padding: .1em;
              pointer-events:none;
          }
      </style>
      <script>
          <!-- https://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using -->
          function resizeIframe(obj) {
              obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
          }
      </script>
  </head>
  <!-- Thanks to Mario C. E. Freese <mcefreese@gmail.com> for permission to use background image -->
  <body style='background-image:URL("background.jpg");background-repeat:no-repeat;background-position:center top;-webkit-background-size:100%;-moz-background-size:100%;-o-background-size:100%;background-size: 100%;'>
  <h2><div style="text-align:center;margin-top:25px;width:100%;display:inline-block;box-shadow:10px 10px 5px #888888;border:1px solid #000000;-moz-border-radius-bottomleft:10px;-webkit-border-bottom-left-radius:10px;border-bottom-left-radius:10px;-moz-border-radius-bottomright:10px;-webkit-border-bottom-right-radius:10px;border-bottom-right-radius:10px;-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;border-top-right-radius:10px;-moz-border-radius-topleft:10px;-webkit-border-top-left-radius:10px;border-top-left-radius:10px;background:white" class="elegant-aero">
      &nbsp;A Look at yearly automobile traffic accidents and fatalities by various influencing factors&nbsp;</div></h2>
  <p style="margin-bottom:0"/>
    <form action="/accidents_by_state.html" style="width:500px;height:50px;margin:0 auto;padding-top=50px;background:#FFFFFF" method="get" target="results_iframe" class="elegant-aero">
      <div style="white-space: nowrap"><label>
	<span class="myarrow">
        <span>State:</span>
	<input list="states" name="state"/>
          <datalist id="states">
              {{#states}}
                  <option value="{{key}}">
              {{/states}}
          </datalist></span>
      </label>

	 <label><input style="padding:10px" type="submit" value="Submit"></label>
      </div>
    </form>
    <p style="margin-bottom:25px"/>

    <iframe frameBorder="0" onload="resizeIframe(this)" name="results_iframe" style="display:block;width:70%;margin-left:auto;margin-right:auto"/>
  </body>
</html>
